{% extends 'base.html' %}
  
{% block title %}TradeApp-Scalp{% endblock %}
  
{% block content %}
<h2 class='home_t'>Scalp<h2>

     <div
	class="chat__item__container"
	id="id_chat_item_container"
	style="font-size: 20px"
	>
  <div class="text-center table-responsive table_main table-wrapper-scroll-y my-custom-scrollbar" >
<table id="example" class="display nowrap" style="width:100%">
        <thead>
            <tr class="">
                <th>Symbol</th>
                <th>Time</th>
                <th>Ticks</th>
                <th>RPCh</th>
                <th>TPCh</th>
                <th>VCh</th>
                <th>LP</th>
                <th>LV</th>

            </tr>
        </thead>
        <tbody id="coinsTable">
        {% for coin in coinsInfo %}
          <tr>
            <td class="Symbol">{{coin.symbol}}
            <div class="glow"></div>
            <div class="flame"></div>

            
            </td>
            <td class="">{{coin.Time|date:"d/m/Y"}}  {{coin.Time|time:"H:i"}}</td>

            <td >{{coin.Ticks}}</td>
            {%if coin.RelativePriceChange < 0 %}
                <td style="color:#DC3545;">{{coin.RelativePriceChange}}</td>
            {%else%}
                <td style="color:#198754;">{{coin.RelativePriceChange}}</td>
            {%endif%}
            <td>{{coin.TotalPriceChange}}</td>
            <td>{{coin.VolumeChange}}</td>
            <td>{{coin.LastPrice}}</td>
            <td>{{coin.LastVolume}}</td>
          </tr>
        {%endfor%}
        </tbody>
    </table>



	<br />
  </div>
	</div>

      <script>

      const chatSocket = new WebSocket("ws://" + window.location.host + "/ws/_consumers_xcv/");
      chatSocket.onopen = function (e) {
        console.log("The connection was setup successfully !");
      };
      chatSocket.onclose = function (e) {
        console.log("Something unexpected happened !");
      };
     
      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        var table = document.getElementById("coinsTable");
        var tr = document.createElement("tr");
        var td0 = document.createElement("td");
        td0.appendChild(document.createTextNode(data.message.s));
        td0.setAttribute("class", "Symbol");
        var td1 = document.createElement("td");
        td1.appendChild(document.createTextNode(data.message.t));
        var td2 = document.createElement("td");
        td2.appendChild(document.createTextNode(data.message.c));
        td2.setAttribute("class", "");
        var td3 = document.createElement("td");
        td3.appendChild(document.createTextNode(data.message.rpc));
        td3.setAttribute("class", "");
        var td4 = document.createElement("td");
        td4.appendChild(document.createTextNode(data.message.tpc));
        td4.setAttribute("class", "");
        var td5 = document.createElement("td");
        td5.appendChild(document.createTextNode(data.message.tvc));
        td5.setAttribute("class", "");
        var td6 = document.createElement("td");
        td6.appendChild(document.createTextNode(data.message.lp));
        td6.setAttribute("class", "");
        var td7 = document.createElement("td");
        td7.appendChild(document.createTextNode(data.message.v));
        td7.setAttribute("class", "");

        var row = table.insertRow(0);

        if(data.message.rpc < 0){
            td3.style.color = "#DC3545";
        } else {
            td3.style.color = "#198754";
        }

        row.style.backgroundColor  = "#383838";

        row.onmouseover = function() {mouseOver(row)};

        function mouseOver(element) {
          element.style.backgroundColor  = "#1f1f1f"; 
        }



                row.appendChild(td0);
                row.appendChild(td1);
                row.appendChild(td2);
                row.appendChild(td3);
                row.appendChild(td4);
                row.appendChild(td5);
                row.appendChild(td6);
                row.appendChild(td7);

                $('#example').DataTable().row.add(row);
                $('#example').DataTable().draw();
                 
                  




      };

       $(document).ready(function() {
            $.fn.dataTable.moment( 'D/M/Y H:M' );

               $('#example').DataTable( {
                    paging: false,
                    dom: 'Qlfrtip',
                    columnDefs: [    { type: 'date', targets: 1 }  ],
                    "order": [[ 1, "desc" ],[2, "desc"]] // Sort by the second column (index 1) in

                  
                               }         );
                               document.getElementsByClassName('dtsb-title')[0].style.visibility = 'hidden';

          });


        </script>

        
{% endblock %}
